<div class="container">
    <div class="card">
        <h4>Dont you want to sign up?</h4>
        <form action="/signup" method="post">
            <input type="username" name="username" placeholder="UserName" required='true'>
            <input type="password" name="password" placeholder='Passw0rd' required='true'>
            <button type='submit'>CREATE THIS USER</button></form>
        <br>
        <br> {{#if error}}
        <p>ERROR: {{error}}</p>
        {{/if}}
    </div>
</div>