<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="container">
    <div class="card">

      <a href="/"><button>HOME</button></a>
      <a href="/login"><button>LOGIN</button></a>
      <a href="/signup"><button>SIGN UP</button></a>
      <a href="/signout"><button>SIGN OUT~</button></a>
      <a href="/private-page"><button>PRIVATE</button></a>


      {{{body}}}

    </div>

  </div>

  <script src='/javascripts/script.js' />
</body>

</html>